* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: #e5e6e5;
}
.app{
  width: 400px;
  min-height: 500px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 10px 10px 13px #0002,
              -10px -10px 13px #fff7;
  border-radius: 20px;

}
form{
  margin: 10px;
  height: 40px;
  width: 100%;
}
form input,
form button{
  width: 250px;
  height: 100%;
  border:none;
  outline: none;
  background: transparent;
  border-radius: 20px;
  box-shadow: inset -5px -5px 5px #fff7,
              inset 5px 5px 5px #0002;
  padding: 0 5px;
}

form button{
  width: 80px;
  margin-left: 15px;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: -5px -5px 5px #fff7,
              5px 5px 5px #0002;
}
h1{
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  color: #e5e5e5;
  text-shadow: -3px -3px 3px #fff7,
                3px  3px 3px #0003;
  margin-bottom: 20px;
  margin-top: 20px;
}
ul li{
  list-style: none;
  margin: 15px 0px;
  padding: 10px;
  text-transform: capitalize;
  box-shadow: -5px -5px 5px #fff7,
               5px  5px 5px #0002;
  border-radius: 5px;
  animation: opacity 1s linear; 
}
@keyframes opacity{
  from{
    opacity: 0;
    transform: scale(0.7);
  }
}

ul li .row{
  float: right;
}

ul li .row i {
  color: teal;
  margin-left: 15px;
  cursor: pointer;
}
ul li .row i:hover{
  color: red;
}
.active{
  animation: del 0.3s linear;
}

@keyframes del{
  to{
    opacity: 0;
    transform: rotate(15deg) skew(25deg) scale(0.5);
  }
}